/* -------------------НАЧАЛО----------------
                   Общие стили
--------------------------------------------*/
$main-color-dark: #1c3a99;

body {
  background-color: #eeeeee;
  font-size: 16px;
  font-family: Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
a {
  &:hover {
    text-decoration: none;
  }
}
i {
  &.blue {
   color: $main-color-dark;
  }
  &.red {
    color: red;
  }
  &.green {
    color: green;
  }
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

// переписываем стили uikit для form
.uk-form input {
  color: white;
}

//переписываем стили uikit для uk-subnav
.uk-subnav {
  margin: 0;
  display: block;
  background-color: #f3f3f3;
  li {
    float: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    a {
      background-color: white;
      padding: 5px 10px;
    }
  }
}

// стилизация select-options
.styled-select {
  display: inline-block;

  select {
    color: #0073e6;
    background: transparent;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    &:focus {
      outline-color: #ddd;
    }
  }
}

// серый заголовок и информация
.heading-information {
  & + & {
    margin-top: 15px;
  }
  p {
    margin: 0;
  }
  .heading {
    color: #bdc2c9;
    font-size: 12px;
    text-transform: uppercase;
  }
  .information {
    font-size: 14px;
  }
}

/* Scrollbar Stylization */
.styled-scrollbar::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}
.styled-scrollbar::-webkit-scrollbar {
  width: 3px;
  background-color: #F5F5F5;
}
.styled-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cacaca;
}

/* -------------------КОНЕЦ----------------
                   Общие стили
--------------------------------------------*/

/* -------------------НАЧАЛО----------------
Общий контейнер для сайдбара и для контента
--------------------------------------------*/
.main-container {
  display: flex;
}
/* -------------------КОНЕЦ-----------------
Общий контейнер для сайдбара и для контента
--------------------------------------------*/

/* -------------------НАЧАЛО-----------------
                    Сайдбар
--------------------------------------------*/
.sidebar {
  background-color: $main-color-dark;
  flex: 0 1 250px;

  .logo {
    background-color: #0073e6;
    padding: 25px;
  }

  li {
    font-size: 14px;
    font-weight: bold;
    a {
      color: #b8c9ff;
      padding: 15px;
      background-color: #3756b9;

      span {
        margin-right: 10px;
      }
    }
  }

  li.uk-active {
    position: relative;

    // Треугольник активного меню
    &::after {
      content:"";
      position: absolute;
      margin-top: -10px;
      right: 0;
      top: 50%;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-right: 10px solid #eee;
      border-bottom: 10px solid transparent;
    }

    a {
      color: white;
      background-color: #5977d6;
    }
  }
}
/* -------------------КОНЕЦ-----------------
                    Сайдбар
--------------------------------------------*/

//Контейнер контента
.content-container {
  flex: 1 1 auto;
}

//панель поиска и профиля на верху
.upper-panel {
  padding: 20px;
  background: #fff;
  //box-shadow:  5px 0 15px rgba(0,0,0,.2);

  input[type=search] {
    border-radius: 5px;
    border: 1px #eee solid;
    height: 35px;
    padding: 0 5px;
    &:focus {
      outline: none;
    }
  }

  .profile-column {
    text-align: right;

    .avatar {
      border-radius: 10px;
      max-width: 40px;
      max-height: 40px;
    }
  }

}

/* -------------------НАЧАЛО-----------------
       перемещаемые виджеты общие стили
--------------------------------------------*/

.grid-container {
  overflow: hidden;
  padding: 4px;
}
.grid {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
.grid-item {
  width: 50%;
  box-sizing: border-box;
  float: left;
  background-clip: content-box;
  padding: 8px;

  &:hover {
    border-color: hsla(0, 0%, 100%, 0.5);
    cursor: move;
  }
  &.is-dragging,
  &.is-positioning-post-drag {
    z-index: 2;
  }

  & > div {
    height: 340px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    position: relative;
    display: flex;
    padding-bottom: 15px;
  }

  .grid-item-col {
    flex: 1 1;
    display: flex;
    flex-flow: column;
  }

  .title-bar {
    background-color: #f3f3f3;
    position: relative;

    img {
      height: 30px;
      width: 30px;
    }

    h4 {
      margin: 0;
      padding: 12px 15px;
    }

    .uk-icon-ellipsis-v {
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
    }
  }

  .scrollable-container {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 15px;

    ul {
      li {
        padding: 5px 0;
      }
    }
  }
}
.grid-item.grid-item--large {
  width: 100%;
  & > div {
    height: auto;
    padding-bottom: 0;
  }
}

//for packery js file:
.grid-sizer {
  width: 50%;
}

.packery-drop-placeholder {
  outline: 2px dashed rgba(0, 0, 0,.1);
  outline-offset: -6px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}
/* -------------------КОНЕЦ-----------------
       перемещаемые виджеты общие стили
--------------------------------------------*/

/* -------------------НАЧАЛО-----------------
       перемещаемые виджеты содержание
--------------------------------------------*/

//выпадашка
.uk-dropdown {
  margin-top: -20px;
  position: relative;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow:  0 0 10px rgba(0,0,0,.07);
  line-height: 1.2;
  font-family: Arial, sans-serif;
  padding-left: 0;
  padding-right: 0;

  &:after,
  &:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
  }
  &:before {
    border-color: rgba(204, 204, 204, 0);
    border-bottom-color: #ccc;
    border-width: 11px;
    margin-left: -11px;
  }

  ul {
    text-align: left;

    a {
      color: #333333;
      display: block;
      padding: 5px;
      &:hover {
        background-color: #eeeeee;
      }
      i {
        margin-right: 10px;
      }
    }
  }
}

.uk-table {
  .styled-select select {
    height: auto;
  }
  p {
    margin: 0;
  }

  &.staff-activity {
    .avatar {
      height: 40px;
      width: 40px;
      border-radius: 50%;
    }
    td {
      vertical-align: middle;
    }
  }
}

// НАЧАЛО виджет с воронкой
.funnel-container {
  padding: 10px;
  font-size: 12px;
  text-align: justify;
  display: flex;
  height: 100%;
  & > div {
    flex: 1 1 200px;
  }
  .funnel-legend {
    margin-left: 10px;
    ul {
      li {
        padding-left: 5px;
        border-left: 4px solid #39f;
      }
      li:nth-child(even) {
        background-color: #f3f3f3;
      }
      li:nth-child(2) {
        border-color: #ff9c23;
      }
      li:nth-child(3) {
        border-color: #07bc1f;
      }
      li:nth-child(4) {
        border-color: #bc2e25;
      }
      li:nth-child(5) {
        border-color: #bc3993;
      }
    }
  }
  #funnel {
  }
}
// КОНЕЦ виджет с воронкой

/* -------------------КОНЕЦ-----------------
       перемещаемые виджеты содержание
--------------------------------------------*/

