@charset "UTF-8";
/* -------------------НАЧАЛО----------------
                   Общие стили
--------------------------------------------*/
body {
  background-color: #eeeeee;
  font-size: 16px;
  font-family: Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

a:hover {
  text-decoration: none; }

i.blue {
  color: #1c3a99; }
i.red {
  color: red; }
i.green {
  color: green; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.styled-select {
  display: inline-block; }
  .styled-select select {
    color: #0073e6;
    background: transparent;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px; }
    .styled-select select:focus {
      outline-color: #ddd; }

.heading-information + .heading-information {
  margin-top: 15px; }
.heading-information p {
  margin: 0; }
.heading-information .heading {
  color: #bdc2c9;
  font-size: 12px;
  text-transform: uppercase; }
.heading-information .information {
  font-size: 14px; }

/* Scrollbar Stylization */
.styled-scrollbar::-webkit-scrollbar-track {
  background-color: #F5F5F5; }

.styled-scrollbar::-webkit-scrollbar {
  width: 3px;
  background-color: #F5F5F5; }

.styled-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cacaca; }

/* -------------------КОНЕЦ----------------
                   Общие стили
--------------------------------------------*/
/* -------------------НАЧАЛО----------------
Общий контейнер для сайдбара и для контента
--------------------------------------------*/
.main-container {
  display: flex; }

/* -------------------КОНЕЦ-----------------
Общий контейнер для сайдбара и для контента
--------------------------------------------*/
/* -------------------НАЧАЛО-----------------
                    Сайдбар
--------------------------------------------*/
.sidebar {
  background-color: #1c3a99;
  flex: 0 1 250px; }
  .sidebar .logo {
    background-color: #0073e6;
    padding: 25px; }
  .sidebar li {
    font-size: 14px;
    font-weight: bold; }
    .sidebar li a {
      color: #b8c9ff;
      padding: 15px;
      background-color: #3756b9; }
      .sidebar li a span {
        margin-right: 10px; }
  .sidebar li.uk-active {
    position: relative; }
    .sidebar li.uk-active::after {
      content: "";
      position: absolute;
      margin-top: -10px;
      right: 0;
      top: 50%;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-right: 10px solid #eee;
      border-bottom: 10px solid transparent; }
    .sidebar li.uk-active a {
      color: white;
      background-color: #5977d6; }

/* -------------------КОНЕЦ-----------------
                    Сайдбар
--------------------------------------------*/
/* -------------------НАЧАЛО-----------------
                Контейнер контента
--------------------------------------------*/
.content-container {
  flex: 1 1 auto; }

.upper-panel {
  padding: 20px;
  background: #fff; }
  .upper-panel input[type=search] {
    border-radius: 5px;
    border: 1px #eee solid;
    height: 35px;
    padding: 0 5px; }
    .upper-panel input[type=search]:focus {
      outline: none; }
  .upper-panel .profile-column {
    text-align: right; }
    .upper-panel .profile-column .avatar {
      border-radius: 10px;
      max-width: 40px;
      max-height: 40px; }

.grid-container {
  overflow: hidden;
  padding: 4px; }

.grid:after {
  content: '';
  display: block;
  clear: both; }

.grid-item {
  width: 50%;
  box-sizing: border-box;
  float: left;
  background-clip: content-box;
  padding: 8px; }
  .grid-item:hover {
    border-color: rgba(255, 255, 255, 0.5);
    cursor: move; }
  .grid-item.is-dragging, .grid-item.is-positioning-post-drag {
    z-index: 2; }
  .grid-item > div {
    height: 340px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    padding-bottom: 15px; }
  .grid-item .grid-item-col {
    flex: 1 1;
    display: flex;
    flex-flow: column; }
  .grid-item .title-bar {
    background-color: #f3f3f3;
    position: relative; }
    .grid-item .title-bar img {
      height: 30px;
      width: 30px; }
    .grid-item .title-bar h4 {
      margin: 0;
      padding: 12px 15px; }
    .grid-item .title-bar .uk-icon-ellipsis-v {
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer; }
  .grid-item .scrollable-container {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 15px; }
    .grid-item .scrollable-container ul li {
      padding: 5px 0; }

.grid-item.grid-item--large {
  width: 100%; }
  .grid-item.grid-item--large > div {
    height: auto;
    padding-bottom: 0; }

.grid-sizer {
  width: 50%; }

.packery-drop-placeholder {
  outline: 2px dashed rgba(0, 0, 0, 0.1);
  outline-offset: -6px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s; }

.uk-dropdown {
  margin-top: -20px;
  position: relative;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
  line-height: 1.2;
  font-family: Arial, sans-serif;
  padding-left: 0;
  padding-right: 0; }
  .uk-dropdown:after, .uk-dropdown:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .uk-dropdown:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px; }
  .uk-dropdown:before {
    border-color: rgba(204, 204, 204, 0);
    border-bottom-color: #ccc;
    border-width: 11px;
    margin-left: -11px; }
  .uk-dropdown ul {
    text-align: left; }
    .uk-dropdown ul a {
      color: #333333;
      display: block;
      padding: 5px; }
      .uk-dropdown ul a:hover {
        background-color: #eeeeee; }
      .uk-dropdown ul a i {
        margin-right: 10px; }

.uk-table .styled-select select {
  height: auto; }
.uk-table p {
  margin: 0; }
.uk-table.staff-activity .avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%; }
.uk-table.staff-activity td {
  vertical-align: middle; }

/* -------------------КОНЕЦ------------------
                Контейнер контента
--------------------------------------------*/

/*# sourceMappingURL=styles.css.map */
